In [1]:
import pandas as pd

In [2]:
data_df = pd.read_csv("C:/Users/Teresa Barajas/Anaconda/Anaconda3/envs/NFL-QB-Analytics/Assets/Data_Files/Cleaned_QB_data.csv")

In [3]:
data_df.head()

,Name,Year,Season,Week,Outcome,Completion Percentage,Passing Yards,TD Passes
0,"Zabransky, Jared",2007,Preseason,1,L,0.0,0,0
1,"Zabransky, Jared",2007,Preseason,2,W,25.0,19,0
2,"Zabransky, Jared",2007,Preseason,3,W,0.0,0,0
3,"Zabransky, Jared",2007,Preseason,4,L,54.5,117,0
4,"Demory, Bill",1974,Regular Season,1,L,0.0,0,0

In [7]:
data_df["Outcome"].replace(["L","W"],[0,1], inplace=True)
data_d

,Year,Week,Completion Percentage,Passing Yards,TD Passes
count,40247.000000,40247.000000,40247.000000,40247.000000,40247.000000
mean,1998.022039,8.637240,28.691858,83.870301,0.500981
std,13.461214,5.349319,31.081273,110.406555,0.910082
min,1970.000000,0.000000,0.000000,-9.000000,0.000000
25%,1987.000000,4.000000,0.000000,0.000000,0.000000
50%,2001.000000,8.000000,0.000000,0.000000,0.000000
75%,2010.000000,13.000000,58.300000,169.000000,1.000000
max,2016.000000,23.000000,100.000000,527.000000,7.000000

In [9]:
by_year = data_df.groupby(["Year"]["Name"]).sum()
by_year.tail()

TypeError: list indices must be integers or slices, not str

In [6]:
new_df = by_year